name: "Build NixOS Image"
on:
  workflow_dispatch:
    inputs:
      iso:
        type: choice
        required: true
        description: "Which iso you want to build?"
        options:
          - "Normal"
          - "Minimal"
env:
  LIVEISO: ${{ github.event.inputs.iso == 'Normal' && 'liveiso' || github.event.inputs.iso == 'Minimal' && 'liveiso-minimal' }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Build NixOS Image
        run: nix build .#nixosConfigurations.${{ env.LIVEISO }}.config.system.build.isoImage

      - name: List result directory
        run: ls -la result/

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: NixOS-${{ github.event.inputs.iso }}
          path: |
            result/
            !result/nix-support
